/* Font style------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: "Fira Sans", serif;
} 
/* Shared style------------------------------ */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}
.section-title{ 
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}
.section-description{ 
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 24px;
}

/* ____________________________1st Part______________________ */
/* nav style------------------------------- */
.nav-container{
    width: 1600px;
    height: 100px;
    margin: 0 auto;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{ 
    color: rgb(14, 14, 14);
    font-size: 32px;
    font-weight: 700;
    margin-left: 160px;
}
.nav-btn{
    color: #006A50;
    font-size:18px ;
    font-weight:600 ;
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    padding: 15px 30px 15px 30px;
    background-color: transparent;
    margin-right: 160px;

}
/* header style---------------------------------- */
.banner{
    max-width:1280px ;
    height:560px ;
    margin: 0 auto;
    margin-top: 20px;
    /* border: 2px solid red; */
    background-color:  rgb(198, 228, 214);
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
}
.banner-content{
    width:622px ;
    height:326px ;
    /* border: 2px solid blue; */
    margin: 90px 0px 177px 59px;
}

.banner-title{ 
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}
.banner-description{ 
    color: rgb(14, 14, 14);
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 16px;
}
.banner-btn{ 
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    padding: 17px 34px 17px 34px;
    border: none;
    margin-top: 20px;
}
/* _________________________2nd part________________________ */
main{
    max-width: 1280px;
    margin: 0 auto;
}
/*pillars of bangladesh style--------------------- */
.pillars-of-bangladesh{
    margin-top: 80px;
}
.pillars-card{
    display: flex;
    gap: 24px;
    margin-top: 32px;
}
.pillar-card{
    width:302px ;
    height:244px ; 
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 30px;
}
.pillars-card-title{ 
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 22px;
}
.pillars-card-description{ 
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 12px;
}
/* ___________________________3rd Part___________________________ */
/* vision style------------------------------ */
.vision{
    margin-top: 80px;
}
.vision-container{
    display: flex;
    margin-top: 32px;
    gap: 24px;
}
.vision-container .card-1{
    width:410.67px ;
    height:325px ;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
    padding: 32px;
}
.vision-container .card-2{
    width:410.67px ;
    height:325px ;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(198, 228, 214);;
    padding: 32px;
}
.vision-container .card-3{
    width:410.67px ;
    height:325px ;
    box-sizing: border-box;
    border-radius: 16px;
    background:rgb(247, 235, 207); ;
    padding: 32px;
}
.card-title{ 
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 24px;
}
.card-description{ 
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 12px;
}
.card-btn{
    width: 122px;
    height: 41px;
    padding: 11px 20px 11px 20px; 
    border-radius: 8px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}
.btn-1{
    background-color:#5490F5 ;
    margin-top: 24px;
}
.btn-2{
    background-color:#09A15C ;
    margin-top:48px ;

}
.btn-3{
    background-color:#FFC239 ;
    margin-top:24px ;
}
/* ______________________________4th part_____________________ */
/* dr yunus style---------------------------- */
.dr-yunus{
    height:256px ;
    padding: 48px 24px 48px 24px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin-top: 32px;
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    /* border: 2px solid red; */
}
.yunus-description{ 
    color: rgba(14, 14, 14, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.yunus-title{ 
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 12px;
    margin-bottom: 4px;
}
/* _________________________5th part__________________________ */
/* your opinion style--------------------- */
.your-opinion{
    height: 529px;
    margin-top: 80px;
    /* background-color: #5490F5; */
    /* border: 2px solid blue; */
}
.opinion-container{
    height: 409px;
    margin-top: 24px;
    padding: 32px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgba(255, 255, 255, 0.1); 
    border-radius: 16px;
    background: rgb(255, 255, 255);
    border: 2px solid red;
}
.heading{
    width:1216px ;
    height:72px ;
    box-sizing: border-box;
    border: 5px solid rgba(14, 14, 14, 0.15);
    background: rgb(198, 228, 214);
    display: flex;
    justify-content: space-between;
    padding: 24px;
}
.heading li{
    list-style: none;
}
.heading-item{ 
    color: rgb(14, 14, 14);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
}


/* __________________________6th part______________________ */
.recent-news{
    height: 1406px;
    margin-top: 80px;
}
.news{
    display: flex;
    align-items: center;
    margin-top: 32px;
    background-color:#FFFFFF;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
    padding: 48px;
    border-radius: 24px;
}
.news-img{
    border-radius: 24px;
}
.news-container{
    width:744px ;
    height:290px ;
    /* border: 2px solid yellowgreen; */
    margin-left: 32px;
    margin-bottom: 20px;
}
.news-title{ 
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 12px;
}
.news-time{ 
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 12px;
    margin-bottom: 12px;
}
.box-description{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.news-btn{ 
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    padding: 13px 26px 13px 26px;
    border: none;
    margin-top: 32px;
}
.news-2{
    margin-left: 32px;
}
/* ______________________________7th part_______________________________ */
/* donate style------------------------- */
.donate{
    height: 464px;
    /* border: 2px solid blue; */
    margin-top: 100px;
}
.donate-title{
    text-align: center;
}
.donate-description{
    text-align: center;
    width:1104px ;
    height:48px ;
    margin: 0 auto;
    margin-top: 24px;
}
.donate-container{
    width:1071px ;
    height:128px ;
    margin: 0 auto;
    margin-top: 32px;
    display: flex;
    justify-content: space-around;
    gap: 24px;
    /* border: 2px solid red; */
}
.donate-card-1{
    width:240px ;
    height:128px ;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 40px;
    /* border: 2px solid blue; */
}
.donate-card-2{
    width:240px ;
    height:128px ;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 40px;
    background-color: #C6E4D6;
    /* border: 2px solid blue; */
}
.tk{ 
    color: rgba(14, 14, 14, 0.8);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
}
.submit-item{
    margin-top: 32px;
}
.submit-item .text-field{ 
    width:1032px ;
    height:64px ;
    margin-left: 124px;
    padding: 20px 40px 20px 40px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(255, 255, 255);
}
 .submit-item .text-field::placeholder{ 
    color: rgba(14, 14, 14, 0.3);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
} 
.donate-btn{
    width:151px ;
    height: 56px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.1);
    border-radius: 8px;
    margin-top: 32px;
    margin-left: 564px;
    background: rgb(0, 106, 80);
    color:  rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
}
/* ____________________________8th part_________________________________ */
/* subscribe style------------------------------ */
.subscribe{
    height:395px ;
    /* border: 2px solid red; */
    margin-top: 80px;
    margin-bottom: 80px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    padding: 80px 100px 80px 100px;
}
.subscribe-text{
    width:750px ;
    height:112px ;
    margin: 0 auto;
}
.subscriber-title{ 
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
}
.subscriber-description{ 
    color: rgba(14, 14, 14, 0.7)
    font-size: 16px;
    font-weigh: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}
.subscribe.submit-item{
    margin-top: 24px;
}
.subscribe .submit-item .text-field{ 
    border-radius: 8px 0px 0px 8px;
    padding: 18px 40px 18px 40px;
    background: rgb(255, 255, 255);
    width:600px ;
    height:60px ;
    border: none;
}
.subscribe .submit-item .text-field::placeholder{ 
    color: rgba(7, 2, 17, 0.3);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
} 
.subscribe .submit-item .submit-button{
    width:150px ; 
    height:60px;
    border-radius: 0px 50px 50px 0px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    border: none;
    border-radius: 0px 8px 8px 0px;
    background: rgb(0, 106, 80);
}
.subscribe-para{ 
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 25px;
}

